<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheet/profile.css">


<section class="profile-section">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">

          <div class="card-body text-center">
<% if(user.images.length){ %>
            <img src="<%= user.images[0].url %>" alt="avatar"
class="rounded-circle img-fluid" style="width: 200px; height: 200px;">
<% }else{%>
 <img src="https://images.unsplash.com/photo-1527596428171-7885b82c91c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y29mZmVlJTIwYW5pbWF0aW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="avatar"
class="rounded-circle img-fluid" style="width: 200px; height: 200px;">
<% }  %>

            <h5 class="my-3"><%= user.fullname %></h5>
            <p class="text-muted mb-1"><%= user.email %></p>
            <p class="text-muted mb-4"><%= user.address %></p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary ms-1"><a href="/profile/<%= user._id %>">Back</a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">

        <div class="card mb-4">
          <div class="card-body">
<form action="/profile/<%= user._id %>?_method=PUT" class="needs-validation validated-form" method="POST" enctype="multipart/form-data" novalidate>
            <div class="row input-group mb-3">
              <div class="col-sm-3">
                <label class="mb-0">Full Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control bg-transparent" name="user[fullname]" value="<%= user.fullname %>">
              </div>
            </div>
            <hr>
            <div class="row input-group mb-3">
              <div class="col-sm-3">
                <label class="mb-0">Email</label>
              </div>
              <div class="col-sm-9">
            <input type="text" class="form-control bg-transparent" name="user[email]" value="<%= user.email %>">
              </div>
            </div>
            <hr>
            <div class="row input-group mb-3">
              <div class="col-sm-3">
                <label class="mb-0">Mobile</label>
              </div>
              <div class="col-sm-9">
<input type="text" class="form-control bg-transparent" name="user[number]" value="<%= user.number %>">
                <p class="text-muted mb-0"></p>
              </div>
            </div>
            <hr>
            <div class="row input-group mb-3">
              <div class="col-sm-3">
                <label class="mb-0">Address</label>
              </div>
              <div class="col-sm-9">
<input type="text" class="form-control bg-transparent" name="user[address]" value="<%= user.address %>">
              </div>
            </div>
 <hr>
            <div class="row input-group mb-3">
              <div class="col-sm-3">
                <label class="mb-0">Profile picture</label>
              </div>
              <div class="col-sm-9">
<input type="file" class="form-control bg-transparent" name="image">
              </div>
            </div>
<button type="submit" class="btn btn-primary ms-1">Save</button>
</form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>