<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadowies Cafe</title>
    <link rel="stylesheet" href="stylesheet/user-dash.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" href="/stylesheet/transition.css">
</head>
<%- include('../partials/flash') %>
 <%- include('../partials/sidebar') %>
<body data-barba="wrapper">
<div class="loading-container">
<div class="loading-screen">
 <div data-glitch="Loading..." class="glitch">Loading...</div>
</div>
</div>

<main data-barba="container" data-barba-namespace="dashboard-section">

    <div class="container-md dash-content">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Orders</h1>

        <!-- DataTales Example -->
        <div class="card shadow me-5 mb-4">
            <div class="card-header" style="height: 300px;overflow: hidden;">
                <img class="image-fluid" src="https://images.unsplash.com/photo-1534422646206-3cf5a7d4a1b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" style="width: 100%;height:  300px;">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Products</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Address</th>
                                <th scope="col">Status</th>
                                <th scope="col">Receipt #</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let order of orders){ %>
                            <tr>
                                <td scope="row"><%= order.userID.fullname %></td>
                                <td>
                                    <ul>
                                        <% for(let products of order.products) {%>
                                        <li><%= products.product.title %></li>
                                        <% } %>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="no-bullets">
                                        <% for(let products of order.products) {%>
                                        <li><%= products.quantity %></li>
                                        <% } %>
                                    </ul>
                                </td>
                                <td>$<%= order.amount %></td>
                                <td><%= order.address %></td>
                                <td>
                                    <select class="form-select form-select-sm order-status" aria-label=".form-select-sm example" data-order-id="<%= order._id %>">
                                        <option <%= order.status === 'Pending' ? 'selected' : '' %> value="Pending">Pending</option>
                                        <option <%= order.status === 'Delivering' ? 'selected' : '' %> value="Delivering">Delivering</option>
                                        <option <%= order.status === 'Delivered' ? 'selected' : '' %> value="Delivered">Delivered</option>
                                    </select>
                                </td>
                                <td><%= order.receipt %></td>
                                <td><%= order.updatedAt.toLocaleDateString()%></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center text-muted my-auto">
                <span>Copyright &copy; Paule Med Cafe 2023</span>
            </div>
        </div>
    </footer>
<script>
gsap.from(".container-md", {
duration: 1,
    scale: 0.5,
    opacity: 0,
    delay: 0.5,
    stagger: 0.2,
    ease: "back",
    force3D: true
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('.order-status').change(function() {
                var orderId = $(this).data('order-id');
                var status = $(this).val();

                $.ajax({
                    url: '/order/' + orderId + '/update',
                    type: 'PUT',
                    data: { status: status },
                    success: function(response) {
                        console.log('Order status updated successfully');
                    },
                    error: function(error) {
                        console.log('Error updating order status');
                    }
                });
            });
        });
    </script>
</body>
</html>
