<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadowies Cafe</title>
    <link rel="stylesheet" href="stylesheet/user-dash.css">
    <link rel="stylesheet" href="stylesheet/products.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheet/transition.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/@barba/core"></script>
</head>
<%- include('../partials/flash') %>
<%- include('../partials/sidebar') %>
<body data-barba="wrapper">
<div class="loading-container">
<div class="loading-screen">
 <div data-glitch="Loading..." class="glitch">Loading...</div>
</div>
</div>


<main data-barba="container" data-barba-namespace="dashboard-section">

        <div class="container-md dash-content">
            <h1 class="h3 mb-2 text-gray-900">Products</h1>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
<div class="d-flex justify-content-between align-items-center table-header">

<div class="buttons">
<button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add new Product</button>
</div>
</div>
</div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <% for(let product of products){ %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= product.createdAt.toLocaleDateString()%>
                                        </td>
                                        <td>
                                            <%= product.title %>
                                        </td>
                                        <td>
                                            <%= product.category %>
                                        </td>
                                        <td>
                                            $<%= product.price %>
                                        </td>
                                        <td>
                        <li class="nav-item dropdown">
                        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#"
                            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Update
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                               <form class="d-inline" action="/product/<%=product._id%>?_method=DELETE"
                                                    method="post">
                                                    <button class="dropdown-item">Delete</button>
                                                </form></a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateProduct<%= product._id %>" data-bs-whatever="@getbootstrap" style="cursor: pointer;">Update product</a>

                            </li>

                        </ul>
                    </li>

                                        </td>
                                    </tr>

                                </tbody>

                                <% } %>
                        </table>
                    </div>
                </div>
            </div>

        </div>
</main>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center text-muted my-auto">
                    <span>Copyright &copy; Paule Med Cafe 2023</span>
                </div>
            </div>
        </footer>


        </div>


        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
<%- include('../partials/modals/product_modal') %>
<script>
gsap.from(".container-md", {
duration: 1,
    scale: 0.5,
    opacity: 0,
    delay: 0.5,
    stagger: 0.2,
    ease: "back",
    force3D: true
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/javascript/product-dash.js"></script>
</body>

</html>