<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadowies Cafe</title>
    <link rel="stylesheet" href="stylesheet/user-dash.css">
<link rel="stylesheet" href="/stylesheet/transition.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Italiana&family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<%- include('../partials/flash') %>
<%- include('../partials/sidebar') %>
<body data-barba="wrapper">
<div class="loading-container">
<div class="loading-screen">
 <div data-glitch="Loading..." class="glitch">Loading...</div>
</div>
</div>

<main data-barba="container" data-barba-namespace="dashboard-section">
        <div class="container-md dash-content transition-fade">


            <h1 class="h3 mb-2 text-gray-900">Users</h1>



            <div class="card shadow me-5 mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center table-header">
                        <div class="month mt-2">
                            <% data.forEach(function(item) { %>
                                <div class="text-right">
                                    <p>Month: <%= item.monthName %>
                                    </p>
                                    <p>Total User: <%= item.total %>
                                    </p>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <% for(let user of users){ %>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <%= user.createdAt.toLocaleDateString()%>
                                        </th>
                                        <td>
                                            <%= user.fullname %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <%= user.number %>
                                        </td>
                                        <td>
                                            <%= user.address %>
                                        </td>
                                        <td>
                                            <% if(isAdmin){ %>
                                                <form class="d-inline" action="/user/<%=user._id%>?_method=DELETE"
                                                    method="post">
                                                    <button class="btn-sm">DELETE</button>
                                                </form>
                                                <% } %>
                                        </td>
                                    </tr>

                                </tbody>

                                <% } %>
                        </table>
                    </div>
                </div>
            </div>

        </div>
</main>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center text-muted my-auto">
                    <span>Copyright &copy; Paule Med Cafe 2023</span>
                </div>
            </div>
        </footer>


        </div>


        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

<script>
gsap.from(".container-md", {
duration: 1,
    scale: 0.5,
    opacity: 0,
    delay: 0.5,
    stagger: 0.2,
    ease: "back",
    force3D: true
});
</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>